<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title if title else "E-Commerce App" }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <nav>
    <div class="nav-left">
      <a href="{{ url_for('products.products_page') }}">Products</a>
      <a href="{{ url_for('dashboard.dashboard_page') }}">Dashboard</a>
    </div>

    <div class="nav-right">
      <a href="{{ url_for('cart.view_cart') }}">
        Cart (<span id="cart-count">{{ session.get('cart', {})|length }}</span>)
      </a>
      {% if session.get("user") %}
        <span>Hello, {{ session["user"]["name"] }}</span>
        <a href="{{ url_for('auth.logout') }}">Logout</a>
      {% else %}
        <a href="{{ url_for('auth.login_page') }}">Login</a>
        <a href="{{ url_for('auth.register_page') }}">Register</a>
      {% endif %}
    </div>
  </nav>
  <hr>
  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
